numpy==1.26.4
typeguard 
pexpect
gtts
openai-whisper
faster-whisper
ffmpeg-python
jiwer
requests
werkzeug==2.2.3
sounddevice
python-dotenv
google-generativeai
SpeechRecognition
pyaudio
pydub==0.25.1
torch
librosa
transformers
torchaudio
vosk